mixin Avatar({ className = '', image, name, online, check, borderBlue, })
  .Avatar(class=`${className} ${image ? 'image' : ''} ${name ? 'name' : ''} ${borderBlue ? 'border-blue' : ''}`)
    if image
      .Avatar-image 
        img(src=`${image}`, alt="")

    if name
      .Avatar-name= name

    if online
      .Avatar-online 

    if check  
      .Avatar-check
        img(src="./assets/icons/icon-check-white.svg", alt="")
